<div class="wrapper">
  <div class="center-wrap">
    <div class="flex">
        <div class="card">
          <h5>Darko</h5>
          <h1>{{countDarko}}</h1>
          <div>
            <div>
              <button class="add" (click)="addRideDarko()">+</button>
            </div>
            <div>
              <button class="minus" (click)="minusRideDarko()">-</button>
            </div>
          </div>
        </div>
        <div class="card">
          <h5>Zarko</h5>
          <h1>{{countZarko}}</h1>
          <div>
            <div>
              <button class="add" (click)="addRideZarko()">+</button>
            </div>
            <div>
              <button class="minus" (click)="minusRideZarko()">-</button>
            </div>
          </div>
        </div>
    </div>
  </div>
    <div class="card">
    <h2>Log:</h2>
    <ul>
      <li>date ; log</li>
    </ul>
  </div>
</div>
