/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;600;800&family=Maven+Pro:wght@400;600;800&display=swap");
//ROBOTO ALL weights
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //font-family: Arial, Helvetica, sans-serif;
  // font-family: "Catamaran", sans-serif;
  // font-family: "Maven Pro", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}
body {
  //background: rgb(235, 235, 235);
  // background-image: url("https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=960");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  // background-color: #0f0f0f;
  // color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

td:first-child,
th:first-child {
  padding: 10px 0 10px 40px !important;
}

td:last-child,
th:last-child {
  padding: 10px 40px 10px 0 !important;
}

@media all and (max-width: 600px) {
  td:first-child,
  th:first-child {
    padding: 10px 0 10px 10px !important;
  }

  td:last-child,
  th:last-child {
    padding: 10px 10px 10px 0 !important;
  }
  .ant-pagination {
    padding: 10px !important;
    //width: 100%;
    //display: flex !important;
  }
}

.ant-pagination {
  padding: 10px 40px;
  // background-color: #0f0f0f;
}

th {
  font-weight: bold !important;
}
